<header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'catalog:home_view' %}" class="nav-link active" aria-current="page">Каталог</a></li>
            <li class="nav-item"><a href="{% url 'blog:article_create' %}" class="nav-link">Опубликовать пост</a></li>
            <li class="nav-item"><a href="{% url 'catalog:contacts_view' %}" class="nav-link">Контакты</a></li>
        </ul>
    </header>
    <hr class="featurette-divider">