{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    {% include 'includes/blog_menu.html' %}
</div>

<main class="container">{% block content %}{% endblock %}</main>

<footer class="text-body-secondary py-5">
    <div class="container"><p class="float-end mb-1"><a href="#">Back to top</a></p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a
                href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>
<script src="{% static '/js/bootstrap.bundle.min.js' %}" class="astro-vvvwv3sm"></script>
</body>
</html>