{% extends 'base_block.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <form method="post" class="" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary mb-3 mx-4">
                {% if object %}
                Сохранить
                {% else %}
                Создать
                {% endif %}
            </button>
            <a href="{% url 'blog:article_list' %}" class="btn btn-primary mb-3 mx-4">Назад</a>
        </div>
    </form>
</div>
{% endblock %}