{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ object.photo|media_filter }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title mb-4">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <h1><u>{{object.price}} руб.</u></h1>
                        <h5><strong>{{ object.category }}</strong></h5>
                        <a href="{% url 'catalog:home_view' %}" class="btn btn-primary mt-2">Назад</a>
                        {% if perms.catalog.delete_product or object.owner == user %}
                        <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-outline-primary mt-2">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-outline-danger mt-2">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}